# pandas 学习笔记
by SeasonS

[原文网址在这](http://datahub.top/coursedetail/?id=31)

##目录
- [创建对象](#创建对象)
    - [创建series](#创建series)
    - [创建dataframe](#创建dataframe)
- [查看dataframe](#查看dataframe)
    - [head,tail,index,value,columns](#head,tail,index,value,columns)
    - [dataframe内部排序](#dataframe内部排序)
- [dataframe索引](#dataframe索引)
    - [标签索引loc](#标签索引loc)
    - [位置索引iloc](#位置索引iloc)
    - [布尔索引和isin](#布尔索引和isin)
- [改变dataframe](#改变dataframe)
    - [改变dtype和元素](#改变dtype和元素)
    - [增加列](#增加列)
- [缺失值处理](#缺失值处理)
    - [dropna](#dropna)
    - [fillna](#fillna)
    - [isnull](#isnull)
- [应用函数apply](#应用函数apply)
    - [apply](#apply)
    - [value_counts](#value_counts)
- [merge方法](#merge方法)
    - [contact](#contact)
    - [merge](#merge)
    - [append](#append)
    - [](#)
    - [](#)
    - [](#)
    - [](#)

In [1]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 创建对象
pandas对象主要包括series 和 dataframe
### 创建series

series可以通过list创建，index则可以自己设定，不设定的话会自动设定为range(N)

In [5]:
s = pd.Series([1,3,5,np.nan,6,8],index=list('abcdef'))
#通过list创建series
s

a     1
b     3
c     5
d   NaN
e     6
f     8
dtype: float64

series 的字符串方法

In [107]:
s = pd.Series(['zheng','YI','Song'])

s.str.lower()

0    zheng
1       yi
2     song
dtype: object

### 创建dataframe

df是一种类似关系链表的数据结构，主要有index，columns，value这三部分。value可由结构化的字典或者array表示，index和columns都可自由设定

In [3]:
dates = pd.date_range('20130101',periods=6)
#利用date作为index
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -0.483822 -1.440722  0.322146 -0.232961
2013-01-02  0.753847  1.678717 -1.655396  1.003888
2013-01-03  0.743315  2.078206  0.344879 -0.290999
2013-01-04  1.466396  0.097581  0.083989 -1.671411
2013-01-05  0.019667 -1.188276 -0.602875  1.213614
2013-01-06  0.189213  0.871854  0.105669  0.827933

df也可通过传入字典来进行创建，此时字典的key变为columns，需要注意的是字典的value长度不一的情况

In [6]:
df2 = pd.DataFrame({ 'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

和numpy的array一样，pandas的dataframe也有dtype的属性，因为每列的属性都需要一致,而这儿是dtypes，表示不同列的dtype是复数~

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看dataframe
### head,tail,index,value,columns

In [12]:
df.head(2)#默认前5行

                   A         B         C         D
2013-01-01 -0.483822 -1.440722  0.322146 -0.232961
2013-01-02  0.753847  1.678717 -1.655396  1.003888

In [13]:
df.tail(2)#默认后5行

                   A         B         C         D
2013-01-05  0.019667 -1.188276 -0.602875  1.213614
2013-01-06  0.189213  0.871854  0.105669  0.827933

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [18]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [19]:
df.values

array([[-0.48382167, -1.44072246,  0.32214592, -0.23296065],
       [ 0.75384732,  1.6787173 , -1.65539567,  1.00388804],
       [ 0.74331502,  2.07820599,  0.34487943, -0.29099911],
       [ 1.46639632,  0.09758097,  0.08398934, -1.67141105],
       [ 0.01966706, -1.18827594, -0.60287538,  1.21361367],
       [ 0.18921321,  0.87185353,  0.10566865,  0.82793284]])

df的转置

In [16]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.483822    0.753847    0.743315    1.466396    0.019667    0.189213
B   -1.440722    1.678717    2.078206    0.097581   -1.188276    0.871854
C    0.322146   -1.655396    0.344879    0.083989   -0.602875    0.105669
D   -0.232961    1.003888   -0.290999   -1.671411    1.213614    0.827933

### dataframe内部排序
- 按index排序
- 按某一列排序

In [20]:
df.sort_index()

                   A         B         C         D
2013-01-01 -0.483822 -1.440722  0.322146 -0.232961
2013-01-02  0.753847  1.678717 -1.655396  1.003888
2013-01-03  0.743315  2.078206  0.344879 -0.290999
2013-01-04  1.466396  0.097581  0.083989 -1.671411
2013-01-05  0.019667 -1.188276 -0.602875  1.213614
2013-01-06  0.189213  0.871854  0.105669  0.827933

In [21]:
df.sort(columns = 'A')

                   A         B         C         D
2013-01-01 -0.483822 -1.440722  0.322146 -0.232961
2013-01-05  0.019667 -1.188276 -0.602875  1.213614
2013-01-06  0.189213  0.871854  0.105669  0.827933
2013-01-03  0.743315  2.078206  0.344879 -0.290999
2013-01-02  0.753847  1.678717 -1.655396  1.003888
2013-01-04  1.466396  0.097581  0.083989 -1.671411

## dataframe索引

dataframe的索引有很多种，可以和list，numpy一样直接通过[]索引，但是这种索引方式在df的index和columns相同时会出现问题，比如下面这样：

In [24]:
df3 = pd.DataFrame(np.random.rand(3,3),index=list('abc'),columns=list('abc'))
df3

          a         b         c
a  0.025789  0.103681  0.528742
b  0.084378  0.056678  0.525833
c  0.457341  0.328285  0.818547

In [28]:
df3[0:2]

          a         b         c
a  0.025789  0.103681  0.528742
b  0.084378  0.056678  0.525833

In [25]:
df3['a']

a    0.025789
b    0.084378
c    0.457341
Name: a, dtype: float64

可见这种默认方式是优先索引列的。当然我们可以用0~2的方式来索引和切片行，再通过标签的方式来索引列，但是还是很难以区分。

为了避免这种模糊，推荐使用pandas优化的索引方式：.**iloc和.loc**，不推荐使用.ix,.iat,at

In [26]:
df4 = pd.DataFrame(np.random.rand(4,4),index=list('1234'),columns=list('abcd'))

In [27]:
df4

          a         b         c         d
1  0.630760  0.180018  0.888670  0.308914
2  0.092203  0.742322  0.047368  0.986478
3  0.055591  0.264575  0.076214  0.963470
4  0.097995  0.720798  0.529017  0.627218

### 标签索引loc

In [33]:
df4.loc['1']#选取某一行

a    0.630760
b    0.180018
c    0.888670
d    0.308914
Name: 1, dtype: float64

In [32]:
df4.loc[:,'a']#选取某一列

1    0.630760
2    0.092203
3    0.055591
4    0.097995
Name: a, dtype: float64

In [37]:
df4.loc[['1','3'],['a','c']]#切片

          a         c
1  0.630760  0.888670
3  0.055591  0.076214

In [39]:
df4.loc[[1,3],['a','c']]#切片,这样是不行的

KeyError: 'None of [[1, 3]] are in the [index]'

In [42]:
df4.loc[['1','3'],['a','c']]#切片

          a         c
1  0.630760  0.888670
3  0.055591  0.076214

### 位置索引iloc

In [50]:
df4

          a         b         c         d
1  0.630760  0.180018  0.888670  0.308914
2  0.092203  0.742322  0.047368  0.986478
3  0.055591  0.264575  0.076214  0.963470
4  0.097995  0.720798  0.529017  0.627218

In [43]:
df4.iloc[2]#通过传递数值进行位置选择（选择的是行）

a    0.055591
b    0.264575
c    0.076214
d    0.963470
Name: 3, dtype: float64

In [47]:
df4.iloc[0:2,0:2]#通过数值进行切片，与numpy/python中的情况类似

          a         b
1  0.630760  0.180018
2  0.092203  0.742322

In [48]:
df4.iloc[[0,2],[0,3]]

          a         d
1  0.630760  0.308914
3  0.055591  0.963470

In [49]:
df4.iloc[1,1]#获取特定的值

0.7423221695663853

### 布尔索引和isin

In [54]:
df4[df4.a>0.09]

          a         b         c         d
1  0.630760  0.180018  0.888670  0.308914
2  0.092203  0.742322  0.047368  0.986478
4  0.097995  0.720798  0.529017  0.627218

In [56]:
df4[df4>0.2]#将不符合的element置零

         a         b         c         d
1  0.63076       NaN  0.888670  0.308914
2      NaN  0.742322       NaN  0.986478
3      NaN  0.264575       NaN  0.963470
4      NaN  0.720798  0.529017  0.627218

In [62]:
df4['e'] = ['aa','aa','cc','dd']
df4

          a         b         c         d   e
1  0.630760  0.180018  0.888670  0.308914  aa
2  0.092203  0.742322  0.047368  0.986478  aa
3  0.055591  0.264575  0.076214  0.963470  cc
4  0.097995  0.720798  0.529017  0.627218  dd

isin函数；loc可以用mask，iloc不行

In [63]:
df4.loc[df4.e.isin(['aa','dd','ff']),:]#loc可以用mask，iloc不行

          a         b         c         d   e
1  0.630760  0.180018  0.888670  0.308914  aa
2  0.092203  0.742322  0.047368  0.986478  aa
4  0.097995  0.720798  0.529017  0.627218  dd

这种方式适合选取多个值相同的情况，是以value作为选取的衡量标准的。

In [64]:
df4.e.isin(['aa','dd'])

1     True
2     True
3    False
4     True
Name: e, dtype: bool

## 改变dataframe

改变包括改变元素，增加行，改变dtype
### 改变dtype和元素

In [66]:
df5 = pd.DataFrame(np.random.randint(0,10,size=(4,4)))

In [69]:
df5

   0  1  2  3
0  3  5  5  8
1  3  8  4  2
2  6  0  5  5
3  8  9  4  6

In [68]:
df5.dtypes

0    int32
1    int32
2    int32
3    int32
dtype: object

In [73]:
df5.iloc[:,0].astype(float)#将第一列改变属性
print df5.dtypes

0    float64
1      int32
2      int32
3      int32
dtype: object

In [75]:
df5.iloc[0,0] = 1.1
df5.iloc[0,1] = 1.1
df5
print df5.dtypes

0    float64
1    float64
2      int32
3      int32
dtype: object

在不更改属性的情况下，如果直接对其赋值，dataframe也会更改属性

In [76]:
df5

     0    1  2  3
0  1.1  1.1  5  8
1  3.0  8.0  4  2
2  6.0  0.0  5  5
3  8.0  9.0  4  6

### 增加列
增加列,如何增加行还没想到。。、

In [77]:
df5['4']=list('abcd')

In [80]:
print df5.dtypes
df5

0    float64
1    float64
2      int32
3      int32
4     object
dtype: object

     0    1  2  3  4
0  1.1  1.1  5  8  a
1  3.0  8.0  4  2  b
2  6.0  0.0  5  5  c
3  8.0  9.0  4  6  d

## 缺失值处理

In [84]:
df6 = pd.DataFrame(np.random.rand(4,4),index=pd.date_range('20160221',periods=4),columns=list('abcd'))

In [85]:
df6

                   a         b         c         d
2016-02-21  0.283076  0.842649  0.112167  0.099230
2016-02-22  0.693585  0.433838  0.886308  0.353845
2016-02-23  0.010862  0.473720  0.411621  0.310157
2016-02-24  0.435750  0.497002  0.885935  0.535248

首先我们要产生些缺失值...

In [94]:
df6.loc[0:3,'e'] =  6#loc也可用位置索引- -
df6.loc['2016-02-21','a'] = np.nan

In [95]:
df6

                   a         b         c         d   e
2016-02-21       NaN  0.842649  0.112167  0.099230   6
2016-02-22  0.693585  0.433838  0.886308  0.353845   6
2016-02-23  0.010862  0.473720  0.411621  0.310157   6
2016-02-24  0.435750  0.497002  0.885935  0.535248 NaN

In [96]:
type(np.nan)#nan竟然是float类型

float

### dropna 
drop掉有缺失数据的行

In [97]:
df6.dropna(how='any')

                   a         b         c         d  e
2016-02-22  0.693585  0.433838  0.886308  0.353845  6
2016-02-23  0.010862  0.473720  0.411621  0.310157  6

### fillna
对缺失值进行补充

In [99]:
df6.fillna(value=5)

                   a         b         c         d  e
2016-02-21  5.000000  0.842649  0.112167  0.099230  6
2016-02-22  0.693585  0.433838  0.886308  0.353845  6
2016-02-23  0.010862  0.473720  0.411621  0.310157  6
2016-02-24  0.435750  0.497002  0.885935  0.535248  5

### isnull
是否有nan值

In [100]:
pd.isnull(df6)

                a      b      c      d      e
2016-02-21   True  False  False  False  False
2016-02-22  False  False  False  False  False
2016-02-23  False  False  False  False  False
2016-02-24  False  False  False  False   True

## 应用函数apply
### apply

In [102]:
df6.apply(np.cumsum)

                   a         b         c         d   e
2016-02-21       NaN  0.842649  0.112167  0.099230   6
2016-02-22  0.693585  1.276486  0.998474  0.453074  12
2016-02-23  0.704447  1.750206  1.410095  0.763231  18
2016-02-24  1.140196  2.247208  2.296030  1.298480 NaN

In [103]:
df6.apply(lambda x: x.max() - x.min())

a    0.682723
b    0.408811
c    0.774141
d    0.436019
e    0.000000
dtype: float64

### value_counts
应用于直方图

In [108]:
s = pd.Series(np.random.randint(0,7,size=10))

s
s.value_counts()

3    4
6    2
5    1
4    1
2    1
0    1
dtype: int64

## merge方法

### concat合并

In [109]:
df = pd.DataFrame(np.random.randn(10, 4))

df

          0         1         2         3
0  0.628647 -0.582697  0.132044  0.091620
1  1.370554 -0.524509 -0.486320 -1.706642
2 -0.335925  2.699084  0.848207  0.581810
3 -0.069529 -1.243669 -0.876292  0.323616
4 -0.772377 -1.888934 -0.811411  1.212723
5  0.501859 -0.576002  0.173182  0.765206
6  0.330374  0.739829  0.212495 -1.602999
7  0.340916  0.491745  0.487428 -1.338866
8  2.154333 -1.424865  0.109524 -0.085162
9  0.730568  1.102696 -1.065699 -1.435451

In [110]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  0.628647 -0.582697  0.132044  0.091620
 1  1.370554 -0.524509 -0.486320 -1.706642
 2 -0.335925  2.699084  0.848207  0.581810,
           0         1         2         3
 3 -0.069529 -1.243669 -0.876292  0.323616
 4 -0.772377 -1.888934 -0.811411  1.212723
 5  0.501859 -0.576002  0.173182  0.765206
 6  0.330374  0.739829  0.212495 -1.602999,
           0         1         2         3
 7  0.340916  0.491745  0.487428 -1.338866
 8  2.154333 -1.424865  0.109524 -0.085162
 9  0.730568  1.102696 -1.065699 -1.435451]

In [111]:
pd.concat(pieces)

          0         1         2         3
0  0.628647 -0.582697  0.132044  0.091620
1  1.370554 -0.524509 -0.486320 -1.706642
2 -0.335925  2.699084  0.848207  0.581810
3 -0.069529 -1.243669 -0.876292  0.323616
4 -0.772377 -1.888934 -0.811411  1.212723
5  0.501859 -0.576002  0.173182  0.765206
6  0.330374  0.739829  0.212495 -1.602999
7  0.340916  0.491745  0.487428 -1.338866
8  2.154333 -1.424865  0.109524 -0.085162
9  0.730568  1.102696 -1.065699 -1.435451

### merge
merge是针对key做的合并。和concat暴力合并不同

In [119]:
left = pd.DataFrame({'key': ['b','b','a','c','a','b'], 'lval': range(6)})
right = pd.DataFrame({'key': ['a','b','a','b','d'], 'rval': range(5)})
pd.merge(left, right, on='key')

  key  lval  rval
0   b     0     1
1   b     0     3
2   b     1     1
3   b     1     3
4   b     5     1
5   b     5     3
6   a     2     0
7   a     2     2
8   a     4     0
9   a     4     2

In [117]:
pd.merge(left, right, on='key',how='right')

   key  lval  rval
0    b     0     1
1    b     1     1
2    b     5     1
3    b     0     3
4    b     1     3
5    b     5     3
6    a     2     0
7    a     4     0
8    a     2     2
9    a     4     2
10   d   NaN     4

In [118]:
pd.merge(left, right, on='key',how='left')

   key  lval  rval
0    b     0     1
1    b     0     3
2    b     1     1
3    b     1     3
4    a     2     0
5    a     2     2
6    c     3   NaN
7    a     4     0
8    a     4     2
9    b     5     1
10   b     5     3

### append
将某一行连到dataframe上，这也是我上面没找到的增加一行的方法

In [120]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

df

          A         B         C         D
0  0.363921 -0.604119  1.241080  1.232157
1 -0.733071  0.914596  0.404642 -0.558732
2  0.433383  2.057710  0.197809  0.113773
3 -1.247165  0.229859  1.228396 -1.343322
4 -0.619115  0.980427 -0.507323 -1.173839
5  2.252849  0.571760 -0.066894 -0.458982
6 -0.882424  0.906612  0.197141 -0.533264
7  0.549779  1.358883  0.630136 -1.316896

In [126]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0  0.363921 -0.604119  1.241080  1.232157
1 -0.733071  0.914596  0.404642 -0.558732
2  0.433383  2.057710  0.197809  0.113773
3 -1.247165  0.229859  1.228396 -1.343322
4 -0.619115  0.980427 -0.507323 -1.173839
5  2.252849  0.571760 -0.066894 -0.458982
6 -0.882424  0.906612  0.197141 -0.533264
7  0.549779  1.358883  0.630136 -1.316896
8 -1.247165  0.229859  1.228396 -1.343322

In [123]:
type(s)

pandas.core.series.Series

In [128]:
s

A   -1.247165
B    0.229859
C    1.228396
D   -1.343322
Name: 3, dtype: float64

In [124]:
s.dtypes

dtype('float64')

也可以直接写个字典加进去

In [129]:
df.append({'A':1,'B':2,'C':3,'D':4}, ignore_index=True)

          A         B         C         D
0  0.363921 -0.604119  1.241080  1.232157
1 -0.733071  0.914596  0.404642 -0.558732
2  0.433383  2.057710  0.197809  0.113773
3 -1.247165  0.229859  1.228396 -1.343322
4 -0.619115  0.980427 -0.507323 -1.173839
5  2.252849  0.571760 -0.066894 -0.458982
6 -0.882424  0.906612  0.197141 -0.533264
7  0.549779  1.358883  0.630136 -1.316896
8  1.000000  2.000000  3.000000  4.000000

## 分组
对于”group by”操作，我们通常是指以下一个或多个操作步骤：

（Splitting）按照一些规则将数据分为不同的组；

（Applying）对于每组数据分别执行一个函数；

（Combining）将结果组合到一个数据结构中；

In [130]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.910555  0.543241
1  bar    one -0.096188 -0.841128
2  foo    two  0.080976 -0.628399
3  bar  three -0.710612  1.247456
4  foo    two  0.284015  0.385471
5  bar    two -2.199109 -1.708805
6  foo    one -0.033462 -0.891444
7  foo  three  1.440815 -1.702945

In [132]:
df.groupby('A')

求和

In [131]:
df.groupby('A').sum()

            C         D
A
bar -3.005908 -1.302476
foo  0.861789 -2.294076

In [133]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.096188 -0.841128
    three -0.710612  1.247456
    two   -2.199109 -1.708805
foo one   -0.944017 -0.348203
    three  1.440815 -1.702945
    two    0.364992 -0.242928

In [ ]:
剩余内容还有stack 、 time series 、

In [134]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))


index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

df2

                     A         B
first second
bar   one     0.014084  0.251688
      two     0.369457  0.412554
baz   one     0.641506 -0.497942
      two     1.001907  0.737321

In [135]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [136]:
df

                     A         B
first second
bar   one     0.014084  0.251688
      two     0.369457  0.412554
baz   one     0.641506 -0.497942
      two     1.001907  0.737321
foo   one     0.979211  0.352782
      two    -1.571962 -0.016140
qux   one    -0.658883  1.847500
      two     0.784994  1.261123